<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miguelpc.smps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StepUpActivity"
            android:label="@string/title_activity_step_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StepDownActivity"
            android:label="@string/title_activity_step_down"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OpEstableActivity"
            android:label="@string/title_activity_op_estable"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PWMActivity"
            android:label="@string/title_activity_pwm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AmplificadorDifActivity"
            android:label="@string/title_activity_amplificador_dif"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StepUpFinalActivity"
            android:label="@string/title_activity_step_up_final"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StepDownFinalActivity"
            android:label="@string/title_activity_step_down_final"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>